flask
flask-cors
flask-socketio
pymongo
requests
reportlab
python-dotenv
werkzeug
blinker
click
itsdangerous
jinja2
markupsafe
urllib3
certifi
charset-normalizer
idna
bidict
python-engineio
python-socketio
six
pillow
